<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div align="left">
    <h3> New USER</h3>
    <form th:method="POST" th:action= "@{/admin/newAddUserAdmin}" th:object="${user}">
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <br>
        <label for="lastname">Lastname: </label>
        <input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname">
        <br>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age" />
        <br>
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email" placeholder="email">
        <br>
        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password" placeholder="Password">

        <p>
            <label>Roles:
                <input type="checkbox" name="roleList"
                       th:each="role : ${roleList}"
                       th:text="${role.getNoPrefix()}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>
        <br>
        <input type="submit" value="CREATE!"/>
    </form>
</div>
</body>
</html>