<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div>

    <table border="1">
        <caption>
            <h3>User</h3>
        </caption>
        <tr>
            <colgroup>
                <col span="7" style="background-color: cornflowerblue">
            </colgroup>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Email</th>
<!--            <th>Password</th>-->
            <th>Roles</th>

<!--            <th>Action</th>-->
        </tr>
        <tr th:each="user : ${userList}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getLastname()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
<!--            <td th:utext="${user.getPassword()}"></td>-->
            <td>
                <div th:each="role:${user.getRoles()}">[[${role.getName()}]]</div>
            </td>

<!--            <td>-->
<!--                <a th:href="@{/api/editUser/{id}(id=${user.getId()})}">-->
<!--                    <input type="submit" value="EDIT"/>-->
<!--                </a>-->
<!--                <br>-->
<!--                <form th:method="DELETE" th:action="@{/api/delete/{id}(id=${user.getId()})}">-->
<!--                    <input type="submit" value="DELETE"/>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
    </table>
    <br>
<!--    <form method="GET" action="/api/newAddUser">-->
        <h4><a href="/api/newAddUser">ADD</a></h4>
<!--    </form>-->
</div>

</body>
</html>